body {
  background: white;
  overflow: scroll;
  font-size: 10pt;
}

.react-grid-item > * {
    height: 100%;
}
.react-grid-layout {
  background: #fff;
}
.react-grid-item {
  box-sizing: border-box;
}
.react-grid-item:not(.react-grid-placeholder) {
  background: #fff;
}
.react-grid-item.resizing {
  opacity: 0.9;
}
.react-grid-item.static {
  background: #cce;
}


.fl-titlebar {
  color: #4d494d;
  font-size: 10pt;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: 20px;
  border-top: 1px #f3f1f3;
  border-bottom: 1px #b1aeb1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: move;
}
.fl-card, .fl-data {
  background: #fff;
  margin: auto;
  border: 1px solid #acacac;
  border-radius: 6px;
  box-shadow: 0px 0px 20px #acacac;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.fl-data {
  font-size: 10px;
  font-family: monospace;
}
.fl-content {
  overflow: auto;
  flex-grow : 1;    
}    

.fl-x-mark {
cursor: pointer;
float: right;
height: 20px;
line-height: 20px;
border: 1px solid #acacac;
margin-top: -1px;
}

.global-filter{
background-color: red;
float: bottom;
display: inline-block;
}

.global-filter-item{
width: 20%
}